.message-form {
  padding: 3% 0;
}

.message-container label,
.message-container textarea {
  width: 100%;
}

.message-container label {
  font-size: 13px;
}

.message-container .input-item textarea {
  padding: 5px;
  border: 2px solid #ccc;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  padding-left: 5px;
}

.message-container .message-form .input-item textarea:focus {
  border: 2px solid #517ee7;
}

.checkboxes {
  display: flex;
  justify-content: space-between;
}

.checkboxes .input-item {
  width: 47%;
}
