@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  color: #2b2144;
  font-size: 17px;
}

h1 {
  font-size: 30px;
}

.step-p {
  color: #c7c7c7;
}

.form-page-title {
  color: #2b2144;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* create custom checkbox appearance */
  display: inline-block;
  width: 25px;
  height: 25px;
  padding: 6px;
  /* background-color only for content */
  background-clip: content-box;
  border: 1.5px solid #bbbbbb;
  border-radius: 25px;
  background-color: #e7e6e7;
  margin-left: 15px;
  margin-right: 15px;
}
input[type="checkbox"]:checked {
  background-color: #517ee7;
}
input[type="checkbox"]:focus {
  outline: none !important;
}

.input-item-checkbox {
  display: flex;
  align-items: center;
}
